.header__link {
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
    color: #2f80ed;
    text-decoration: none;
    transition: 0.5s linear 0.2s;
  }
  
  .header__link:hover {
    opacity: 0.5;
  }